
.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}
.main-nav__item{
    display:inline-block;
}
/* aqui estamoos ciendo espesificos en cssy esta etiqueta nos dice a todas las etiquetas <a> aplica el siguente estilo */
.main-nav__item a {
    color:white;
    padding: 5px;
    text-decoration: none;
}
.main-nav__item a:hover{
    color: blue;
}
.main-nav__item a::after{
    content: " | ";
}
