*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5{
    width: 100%;
    min-width: 150px;
    height: 150px;
    border-radius: 15px;
}
.c1{
    background-color: antiquewhite;
}
.c2{
    background-color: rgb(53, 112, 53);
}
.c3{
    background-color: rgb(67, 124, 151);
}
.c4{
    background-color: rgb(200, 27, 216);
}
.c5{
    background-color: rgb(147, 25, 158);
}