*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    font-size: 24px;
    font-family: monospace;
    color: purple;
    margin-bottom: 12px;
}
.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}
.nav li{
    display: inline-block;
}
.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.nav .botton-blog{
    background-color: red;
}