
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    padding: 10px;
    text-align: center;
}

.item{
    list-style: none;
    display: flex;
    justify-content: center;
}
.item h3{
    text-align: center;
}
.item ol li{
    margin: 10px;
    padding-top: 8px;
    padding-left: 2px;
    padding-right: 2px;
    list-style: none;
    background-color: aqua;
    border-radius: 4px;
}
.item p{
    padding: 4px;
    text-align: center;
}
.item a{
    text-decoration: none;
}
.item img{
    border-radius: 4px;
    width: 160px;
    height: 160px;
}


