Css
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.c1,
.c2,
.c3,
.c4,
.c5{
    width: 100%;
    min-width: 150px;
    height: 105px;
}

.c1{
    background-color: wheat;
}
.c2{
    background-color: aqua;
}
.c3{
    background-color: bisque;
}
.c4{
    background-color: blue;
}
.c5{
    background-color: blueviolet;
}