:root{
    --primary-color: #5a1690;
    --secondary-color:;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container-nav{
    background-color: var(--primary-color);
    width: 100vw;
    height: 110px;
}
.fi-br-menu-burger{
    font-size: 3rem;
    color: white;
}